button {
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: 500;
  background-color: #2076d9;
  color: white;
  text-transform: uppercase;

  font-family: inherit;
  cursor: pointer;
}
